<template>
    <grid-layout
        v-if="deck.length"
        v-show="canShow"
        :layout.sync="deck"
        :col-num="20"
        :row-height="68"
        :max-rows="10"
        :is-draggable="true"
        :is-resizable="true"
        :is-responsive="false"
        :vertical-compact="false"
        :margin="[10, 10]"
        :use-css-transforms="true"
        :prevent-collision="true"
        @layout-updated="onDeckUpdate"
        @layout-ready="onDeckReady"
    >
        <grid-item v-for="item in deck"
            :x="item.x"
            :y="item.y"
            :w="item.w"
            :h="item.h"
            :i="item.i"
            :key="item.i">
            {{ item.i }}
        </grid-item>
    </grid-layout>
</template>

<script>
import VueGridLayout from 'vue-grid-layout';

export default {
	data: () => ({
		deck: [],
        teamData: {},
        rooms: [],
        canShow: false
    }),
    // computed() {
    //     deckLayout() {
    //         return this.deck.deckData
    //     }
    // },
    watch: {
        // deck(value) {
        //     console.log(value,' ++');
        // }
    },
    mounted() {
        this.init()
    },
    methods: {
        init() {
            this.getDeck()
            this.getTeamData()
        },
        onDeckUpdate(deck) {
            this.deck = deck
            this.updateDeck();
        },
        onDeckReady() {
            console.log('test sdas');
            this.canShow = true
        },
        updateDeck() {
            this.$store.dispatch('deck/updateDeck', {
                deckData: this.deck
            })
        },
        getDeck() {
            this.$store.dispatch('deck/getDeck').then(deck => {
                this.deck = deck.deckData
            })
        },
        // getDeck() {
        //     this.$http.get('/decks').then(({data}) => {
        //         this.deck = data.deckData
        //     })
        // },
        getTeamData() {
            this.$http.get('/teams/my-team')
            .then((res) => this.teamData = res.data)
        }
    },
	components: {
		GridLayout: VueGridLayout.GridLayout,
		GridItem: VueGridLayout.GridItem
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .vue-grid-item {
        background-color: cadetblue;
    }
    .vue-grid-layout {
        min-width: 1584px;
    }
</style>
